

.initial-page2 {
  position: fixed;          /* keeps it stuck to the left side */
  top: 10%;                 /* adjust as needed from the top */
  left: 1%;
  width: 30%;               /* you can adjust (e.g., 25%, 40%) */
                            /* min-height: 100vh; full screen height */
  background: #bfc6cf;
  padding: 30px;
  box-sizing: border-box;   /* keeps padding inside the width */
  
}

.header1 h1 {
  display: inline-block;
  padding: 10px 10px;
  border: 3px solid #5bb9ff;
  color: rgb(244, 243, 253);
  background: #0099ff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.header1 h1:hover {
  transform: scale(1.05); 
  background-color: #14bcf5;
  box-shadow: 0 6px 15px rgba(3, 3, 219, 0.3);
  
}

.list {
  margin-top: 10px;
  text-align: center;
}

.list ul {
  list-style: none;
  padding: 0; /* remove default padding */
}

.list li {
  margin: 15px 0;
  padding: 12px 25px;
  font-size: 18px;
  background: white;
  display: inline-flex;/* horizontal layout */
  align-items: center;/* center vertically */
  border-radius: 10px; /* rounded corners*/
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease; /* smooth hover effect*/
}

.list li:hover {
  transform: translateY(-5px); /* lift effect */
  background-color: #82cfe8;
}

.list li .icon {
  margin-right: 10px; /* spacing between icon and text */
  color: #0077cc;
  font-size: 22px;
}

.list li a {
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.list li a:hover {
  color: rgb(234, 13, 186);
}