.initial-page {
  top: 10%;
  text-align: center;
  background: #f2f7ff;
  padding: 0px;
  min-height: 100vh;
}

.header h1 {
  color: #004aad;
  margin-bottom: 10px;
}

.slider-container {
  width: 105%;
  margin: 20px auto;
}

.slider-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}