


.header1 h1 {
  display: inline-block;
  padding: 20px 40px;
  border: 3px solid #5bb9ff;
  color: white;
  background: #0099ff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.header1 h1:hover {
  transform: scale(1.05);
  background-color: #29c2f5;
}

.list {
  margin-top: 10px;
}

.list ul {
  list-style: none;
  padding: 0; /* remove default padding */
}

.list li {
  margin: 15px 0;
  padding: 12px 25px;
  font-size: 18px;
  background: white;
  display: inline-flex;/* horizontal layout */
  align-items: center;/* center vertically */
  border-radius: 10px; /* rounded corners*/
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease; /* smooth hover effect*/
}

.list li:hover {
  transform: translateY(-5px); /* lift effect */
  background-color: #e3f3ff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.list li .icon {
  margin-right: 10px; /* spacing between icon and text */
  color: #0077cc;
  font-size: 22px;
}

.list li a {
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.list li a:hover {
  color: darkviolet;
}
